.header {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 2.7%;
  left: 2.7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  font-family: "Futura-Bold";
  text-transform: uppercase;
  letter-spacing: -1.5px;
  color: var(--dark-100);
  cursor: default;
}

.the {
  font-size: 2rem;
  margin-bottom: -1.2rem;
}
.letters {
  font-size: 2rem;
  display: flex;
  position: relative;
}

.dot {
  color: var(--wheat);
  font-size: 3.5rem;
  position: absolute;
  margin-top: -2vh;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 3% 0;
  height: 10vh;
  z-index: 2;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20vw;
  height: 70%;
  font-family: "Gilroy Bold";
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #404040;
}
.menuBar {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 10%;
  border-radius: 50px;
  height: 68%;
  padding: 1rem;
  color: var(--dark-300);
  background-color: #131313;
}
.menuBar span {
  width: 5.5vw;
  height: 4.5vh;
}

.selected {
  background-color: #606060;
  height: 4vh;
  color: var(--black);
  width: 100%;
}

.menuButton {
  padding: 0.5rem 0.5rem;
  font-size: 0.7rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .logo {
    left: 2.8%;
  }
}

@media screen and (max-width: 1020px) {
  .header {
    height: 17vh;
  }
  .logo {
    top: 2.8%;
    left: 2.8%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 16vh;
  }
  .logo {
    top: 3.5%;
    left: 4%;
    font-size: 1.8rem;
  }

  .menuButton {
    font-size: 0.7rem;
    right: 3%;
    top: 8%;
  }
  .loginIcon {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 10vh;
  }
  .logo {
    top: 3.5%;
    left: 5%;
  }
  .menuButton {
    font-size: 1rem;
    right: 2%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 5vh;
  }

  .menuButton {
    right: 2%;
  }
}
