@import "tailwindcss";

@font-face {
  font-family: "Futura-Bold";
  font-style: normal;
  src: url("./assets/fonts/Futura-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #2e2e2e;
  color: #fbfbfb;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

body {
  background: radial-gradient(circle, rgb(15, 15, 15) 20%, rgb(0, 0, 0) 80%);
  color: #fff;
  height: 100vh;
  overflow-x: hidden;
}

.myfontR {
  font-family: "Gilroy Regular";
}
.myfontM {
  font-family: "Gilroy Medium";
}
.myfontB {
  font-family: "Gilroy Bold";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
