.page {
  background-color: var(--black);
  color: white;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  padding: 15rem 40px 1rem;
}

.line1,
.line2 {
  font-family: "Gilroy Bold";
  text-transform: uppercase;
}
.line1 {
  color: var(--wheat);
  font-size: clamp(20px, 5rem, 100px);
  line-height: 4rem;
  padding-left: 0.5rem;
}

.line2 {
  font-size: clamp(50px, 7rem, 100px);
  color: rgb(48, 48, 48);
  line-height: 5.5rem;
}

.getStartedButton {
  margin: 1rem 0 0;
  padding: 0.8rem 0.8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-family: "Gilroy Bold";
  color: var(--dark-300);
  border: 1px solid var(--wheat);
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s linear;
    background-color: white;
    color: black;
  }
}

.icon {
  padding-left: 6px;
  color: var(--wheat);
  font-size: 0.9rem;
}

.marqueeContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: black;
  padding: 10px 0;
  display: flex;

  &::before,
  &::after {
    content: "";
    opacity: 2;
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 2;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, var(--black), transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, var(--black), transparent);
  }
}

.marqueeContent {
  display: flex;
  min-width: 100%;
  opacity: 0.7;
  flex-shrink: 0;
}

.marqueeItem {
  font-size: 0.8rem;
  padding: 0 25px;
}

/***********  
     * @MediaQueries 
  *  *********** / */

@media (min-width: 1440px) {
  .hero {
    background-color: #fff;
    padding-top: 15rem;
  }
  .line1 {
    font-size: 7rem;
  }
  .line2 {
    font-size: 8rem;
    line-height: 9rem;
  }
  .getStartedButton {
    margin: 2rem 0 3rem;
    padding: 1.2rem 0;
    width: 9rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
  .line1 {
    font-size: 5.5rem;
    line-height: 5rem;
  }

  .line2 {
    font-size: 6.5rem;
    line-height: 5rem;
  }
  .getStartedButton {
    width: 8rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .line1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .line2 {
    font-size: 6rem;
    line-height: 5rem;
  }
  .getStartedButton {
    background-color: white;
    color: black;
  }
}

/* @media (max-width: 618px) {
  .line1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .line2 {
    font-size: 4rem;
    line-height: 3.2rem;
  }
  .getStartedButton {
    margin-top: 2rem;
  }
} */

/* @media (max-width: 576px) {
  .line1 {
    font-size: 3.8rem;
    line-height: 3.2rem;
  }

  .line2 {
    font-size: 4rem;
    line-height: 2.9rem;
  }

  .getStartedButton {
    margin-top: 2.2rem;
    width: 7.5rem;
    padding: 0.6rem 0.7rem;
    font-size: 0.8rem;
  }
  .marqueeContainer {
    padding: 5px 0;
  }
  .marqueeItem {
    font-size: 0.7rem;
    padding: 0 15px;
  }
} */

@media (max-width: 480px) {
  .hero {
    padding: 20rem 4% 2rem;
  }

  .line1 {
    padding: 0;
    font-size: 4.5rem;
    line-height: 8rem;
  }

  .line2 {
    font-size: 4.5rem;
    line-height: 4rem;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .getStartedButton {
    width: 85%;
    font-size: 1rem;
    color: var(--wheat);
    background-color: black;
  }
}

@media (max-width: 380px) {
  .line1 {
    font-size: 4rem;
    line-height: 7rem;
  }

  .line2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
